<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
            http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

  <display-name>facebookTest</display-name>

   <servlet>
      <servlet-name>FacebookServlet</servlet-name>
      <servlet-class>org.jboss.facebook.FacebookServlet</servlet-class>
   </servlet>
  <servlet>
    <servlet-name>FacebookServlet2</servlet-name>
    <servlet-class>org.jboss.facebook.FacebookServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacebookServlet3</servlet-name>
    <servlet-class>org.jboss.facebook.restfb.FacebookServlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoogleServlet</servlet-name>
    <servlet-class>org.jboss.google.GoogleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoogleServlet2</servlet-name>
    <servlet-class>org.jboss.googleapi.GoogleServlet2</servlet-class>
  </servlet>

   <servlet-mapping>
      <servlet-name>FacebookServlet</servlet-name>
      <url-pattern>/ftest1</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacebookServlet2</servlet-name>
    <url-pattern>/ftest2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacebookServlet3</servlet-name>
    <url-pattern>/ftest3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoogleServlet</servlet-name>
    <url-pattern>/gtest1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoogleServlet2</servlet-name>
    <url-pattern>/gtest2</url-pattern>
  </servlet-mapping>

</web-app>
